header {
  display: flex;
  flex-wrap: wrap;
  margin: 0%;
  padding: 14px;
}

body {
  color: #F5F3F4;
  background: #161A1D;
  font-family: "roboto", sans-serif;
  margin: 0;
}

a {
  color: #809fff;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1px;
}

.navbar {
  justify-content: space-between;
  text-align: center;
  margin: auto;
}

.nav-link {
  color: #F5F3F4;
  display: inline-block;
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

.nav-link:hover {
  color: #FFC600;
}

.container-main {
  justify-content: space-between;
  margin: 10px;
}

.row-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  
}

.left-side {
  flex: 50%;
  text-align: center;
}

.right-side {
  flex: 50%;
}

.header-section {
  flex: 20%;
}

.details-section {
  flex: 80%;
}


.h3-pop {
  margin: 0 auto;
  width: fit-content;
  padding: 1%;
  color: #F5F3F4;
  background-color: #072AC8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
}

.h2-sub-heading {
  margin: 0 auto;
  width: fit-content;
  padding: 1%;
  background-color: #072AC8;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.avatar_image {
  width: 16rem;
  border-radius: 50%;
  margin: 0 auto;
  justify-content: center;
  display: block;
}

.dev-img {
  align-items: center;
  justify-content: center;
  height: 18rem;
  width: 28rem;
}

.h2-about {
  margin: 0 auto;
  width: fit-content;
  padding: 1%;
  background-color: #072AC8;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.about-p2 {
  margin: 0 auto;
  width: 400px;
}

.container-border {
  margin-top: 3em;
  border-top-color: #F5F3F4;
  border-top-width: 2px;
  border-top-style: groove;
  padding-right: 10em;
}

.container-part {
  display: flex;
  margin-left: 10em;
}

.container-col1 {
  width: 320px;
  margin-left: 2em;
}

.container-col2 {
  width: 50em;
  margin-left: 2em;
}

.container-h2 {
  color: #F5F3F4;
  margin-left: 5em;
  padding-top: 5px;
  background-color: #072AC8;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  margin-left: none;
  margin-right: auto;
  text-align: left;
  padding-left: 5px;
  width: 180px;
  height: 30px;
}

.container-h2-sub {
  margin-left: 120px;
  padding: auto;
  
}

.container-h3 {
  color: #1e96fc;
}

.role-h4 {
  color: #FFC600;
}

.container-year {
  color: #B1A7A6;
}

/* Projects */
.projects {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 350px;
  padding-left: 5px;
  padding-right: 5px;
}

.project-img {
  width: 280px;
  height: 180px;
}


/* Skills */
.skill {
  float: left;
  background-color: #FFC600;
  border-radius: 5%;
  color: #161A1D;
  padding: 1%;
  margin: 0.3% 0.5%;
}

.certificate {
  list-style-type: none;
  position: relative;
  float: left;
  padding: 1%;
  margin: 0.3% 0.5%;
}

.certificate-img {
  height: 150px;
  width: 150px;
}

.certificate-coursera {
  width: 200px;
  border-radius: 10%;
}

/* Contact */
.contact {
  display: block;
  justify-content: center;
  text-align: center;
  padding-top: 1em;
}

.contact-h1 {
  margin: auto;
  width: 160px;
  height: 35px;
  padding: 3px;
  text-align: center;
  background-color: #072AC8;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.icons-list {
  list-style-type: none;
  padding-left: 0;
}

#icon-item {
  display: inline-block;

}

.icon {
  width: 50px;
  height: 50px;
  padding: 10px;
}